<!DOCTYPE html>
<html>
  <head>
    <title>systemd timer dashboard</title>
    <meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="title">systemd timer dashboard</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Schedule</th>
            <th>Last Triggered</th>
            <th>Result</th>
            <th>Next</th>
          </tr>
        </thead>
        <tbody>
          {{ range .timers }}
          <tr{{ if .Active }}{{ else }} style="color: #c0c0c0"{{ end }}>
            <td>{{ .UnitName }}</td>
            <td>{{ .Schedule }}</td>
            <td>{{ if isZeroSchedule .LastTriggeredAt }}N/A{{ else }}{{ .LastTriggeredAt }}{{ end }}</td>
            <td><span class=" tag {{ if .Result }}is-success{{ else }}is-danger{{ end }}">{{ .Result }}</span></td>
            <td>{{ if isZeroSchedule .NextTriggerAt }}N/A{{ else }}{{ .NextTriggerAt }}{{ end }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </body>
</html>
